* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "ROBOTO", sans-serif;
}

body {
  background-color: #f5f6fa;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

a {
  color: #283252;
  text-decoration: none;
  font-weight: bold;
}

/* p {
  color: #747990;
} */

.container {
  min-height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prova {
  width: 90%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
}

label span {
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #aaa;
  font-size: 0.7em;
}

input, select {
  background-color: rgb(212, 255, 255);
  border: 1px solid #6ec5ff;
  border-radius: 3px;
  padding: 10px 8px;
  outline: none;
  margin-bottom: 0.6em;
  
}

input::placeholder {
  color: #7e7e7e;
}

.btn,
button,
input[type="submit"] {
  background-color: #0094f6;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.8;
  font-size: 1em;
}

input[type="submit"] {
  margin-top: 1em;
}

input:disabled {
  cursor: not-allowed;
  background-color: #000;
}

button:hover,
input[type="submit"]:hover {
  opacity: 1;
}

.cancel-btn {
  background-color: #ccc;
}

.questao {
  margin: 10px 0px;
  border: 2px solid #00548b3f;
  border-radius: 5px;
  padding: 5px;
  background-color: #1cffff0e;
}

hr {
  color: #6ec5ff;
  border: 1px solid;
}

.title {
  color: white;
  margin-bottom: 5px;
  background-color: #003c64;
  padding: 5px;
  font-size: 20px;
}

.descritor {
  color: #007bce;
  margin-bottom: 5px;
}

.texto {
  text-align: justify;
}

.texto-vocabulario {
  text-align: center;
}

.fonte {
  text-align: right;
  font-style: italic;
  font-size: 12px;
}

.quesito {
  text-align: justify;
  font-weight: bold;

}

.descritor,
.texto,
.texto-vocabulario,
.quesito,
.opcao {
  font-size: 14px;
}

.questao-matematica {
  margin: 10px 0px;
  border: 2px solid #00be7fef;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(139, 255, 174, 0.068);
}

input[type=radio] {
  border: 0px;
  width: 20px;
  height: 30px;
  vertical-align: middle;
}


@media (min-width: 700px) {

.prova{
  width: 30%;
}

}